<div class="metadata-container">
    <h2>Document Information</h2>
    <p><strong>Date:</strong> $date$</p>
    <p><strong>Title:</strong> $title$</p>
    <p><strong>Document Title:</strong> $document_title$</p>
    <p><strong>Author:</strong> $author$</p>
    <p><strong>Address:</strong> $address$</p>
    <p><strong>Document Path:</strong> $document$</p>
    <p><strong>Canonical Link:</strong> <a href="$canonical_link$">$canonical_link$</a></p>
    <p><strong>Date Accessed:</strong> $date_accessed$</p>
    <p><strong>Collections:</strong>
        <ul>
            $for(collections)$
            <li>$collections$</li>
            $endfor$
        </ul>
    </p>
</div>
